<div class="contacts__backdrop is-hidden" data-modal>
    <div class="contacts__backdrop-modal">
        <button class="contacts__backdrop-btn-close" data-modal-close>
            <svg class="contacts__backdrop-modal-close-logo">
                <use href="./images/sprite.svg#close-menu"></use>
            </svg>
        </button>
        <iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53074.40206666874!2d-118.21880412380375!3d33.75678617821714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xced27c1be6f0c8c5!2sBlue%20Whale%20Cafe!5e0!3m2!1sru!2sua!4v1617644421070!5m2!1sru!2sua" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div> 
<div class="contacts__backdrop-fr is-hidden" data-modal2>
    <div class="contacts__backdrop-fr-modal">
        <button class="contacts__backdrop-fr-btn-close" data-modal-close2>
            <svg class="contacts__backdrop-fr-modal-close-logo">
                <use href="./images/sprite.svg#close-menu"></use>
            </svg>
        </button>
        <h2 class="contacts__backdrop-fr-title">Our Franhcise</h2>
        <div class="contacts__backdrop-fr-img">
            <div class="contacts__backdrop-fr-item">
                <picture>
                    <source srcset="./images/icecream-shop/icecream-shop1@2x.jpg 2x">
                    <img src="./images/icecream-shop/icecream-shop1.jpg" class="contacts__backdrop-fr-img" alt="интерьер1">
                </picture>
            </div>
            <div class="contacts__backdrop-fr-item">
                <picture>
                    <source srcset="./images/icecream-shop/icecream-shop2@2x.jpg 2x">
                    <img src="./images/icecream-shop/icecream-shop2.jpg" class="contacts__backdrop-fr-img" alt="интерьер2">
                </picture>
            </div>
            <div class="contacts__backdrop-fr-item">
                <picture>
                    <source srcset="./images/icecream-shop/icecream-shop3@2x.jpg 2x">
                    <img src="./images/icecream-shop/icecream-shop3.jpg" class="contacts__backdrop-fr-img" alt="интерьер3">
                </picture>
            </div>
            <div class="contacts__backdrop-fr-item">
                <picture>
                    <source srcset="./images/icecream-shop/icecream-shop4@2x.jpg 2x">
                    <img src="./images/icecream-shop/icecream-shop4.jpg" class="contacts__backdrop-fr-img" alt="интерьер4">
                </picture>
            </div>
        </div>
    </div>
</div>