<div class="contacts__backdrop is-hidden" data-modal>
    <div class="contacts__backdrop-modal">
        <button class="contacts__backdrop-btn-close" data-modal-close>
            <svg class="contacts__backdrop-modal-close-logo">
                <use href="./images/sprite.svg#close-menu"></use>
            </svg>
        </button>
        <iframe src="https://www.google.com/maps/d/embed?mid=1kzfOD_mLaBdC0gxofQIG4Uubrwvz6g6K" width="100%" height="100%"></iframe>
    </div>
</div> 
<div class="contacts__backdrop-fr is-hidden" data-modal2>
    <div class="contacts__backdrop-fr-modal">
        <button class="contacts__backdrop-fr-btn-close" data-modal-close2>
            <svg class="contacts__backdrop-fr-modal-close-logo">
                <use href="./images/sprite.svg#close-menu"></use>
            </svg>
        </button>
    </div>
</div>